.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#fff;
    -fx-border-width:.4px .4px .2px .4px;
    -fx-text-fill:#000000;

}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .8px .4px;
}

.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #023047, #023047);
}

.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER;
}

/* Style pour le survol */
.nav-btn:hover {
    -fx-background-color: linear-gradient(to bottom right, #006494, #006494); /* Bleu clair */
    -fx-text-fill: #e0e0e0; /* Gris clair pour le texte */
    -fx-effect: dropshadow(gaussian, rgba(3, 93, 117, 0.7), 8, 0.5, 0, 0); /* Ombre bleutée au survol */
}

/* Style pour le clic */
.nav-btn:pressed {
    -fx-background-color: linear-gradient(to bottom right, #012f3d, #012f3d); /* Bleu foncé */
    -fx-text-fill: #c7c7c7; /* Gris clair pour le texte */
    -fx-effect: dropshadow(gaussian, rgba(1, 47, 61, 0.7), 10, 0.5, 0, 0); /* Ombre bleu foncé */
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
    
    
}

.anchor-pane {
    -fx-background-color: linear-gradient(to bottom right, #ae2012, #ae2012); /* Dégradé orange */
}

.label {
    -fx-text-fill: white; /* Texte blanc */
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-font-weight: bold; /* Texte en gras */
}

.table-view {
    -fx-background-color:#023047;
    -fx-background-radius:14 14 0 0;
    
    }
.table-view .column-header-background{
        -fx-background-color: #023047;
        -fx-background-radius:14;
        -fx-background-insets: 0 0 10 0;
       
        
        
    }
.table-view .column-header, .table-view .filler{
        -fx-size:50px;
        -fx-border-width: 0 0 10 0;
        -fx-background-color:transparent;
        
    }
    
.table-view .column-header .label {
        -fx-text-fill: white ;
    }